 <a href="../index.html#/1"><img style='position: fixed; top: 0px; 
    right: 0px;width: 50px; height: 50px;' src="../fig/home.png"></a>
<img style='position: fixed; top: 0px; 
    left: 0px;width: 50px; height: 50px;' src="../fig/UL.tiff">
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
